<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".pl" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        
        <rewrite>
   <rules>
    <!--# Redirect to HTTPS-->
     <rule name="Imported Rule 1">
       <match url="(.*)" ignoreCase="false" />
        <conditions>
          <!--## Redirect HTTP to HTTPS-->
          <!--# Only trigger rule if a non-ssl port is being used-->
           <add input="{SERVER_PORT}" pattern="443" ignoreCase="false" negate="true" />
        </conditions>
      <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
     </rule>
   </rules>
</rewrite>

        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
